<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aha.smallmall.mapper.GoodsAttrsMapper">
  <resultMap id="BaseResultMap" type="com.aha.smallmall.pojo.GoodsAttrs">
    <id column="attr_id" jdbcType="VARCHAR" property="attrId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="attr_sel" jdbcType="VARCHAR" property="attrSel" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    attr_id, goods_id, create_time, update_time, attr_value, attr_name, attr_sel
  </sql>
  <select id="selectByExample" parameterType="com.aha.smallmall.pojo.GoodsAttrsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_attrs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_attrs
    where attr_id = #{attrId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods_attrs
    where attr_id = #{attrId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.aha.smallmall.pojo.GoodsAttrsExample">
    delete from goods_attrs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aha.smallmall.pojo.GoodsAttrs">
    insert into goods_attrs (attr_id, goods_id, create_time, 
      update_time, attr_value, attr_name, 
      attr_sel)
    values (#{attrId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{attrValue,jdbcType=VARCHAR}, #{attrName,jdbcType=VARCHAR}, 
      #{attrSel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aha.smallmall.pojo.GoodsAttrs">
    insert into goods_attrs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attrId != null">
        attr_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="attrValue != null">
        attr_value,
      </if>
      <if test="attrName != null">
        attr_name,
      </if>
      <if test="attrSel != null">
        attr_sel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attrId != null">
        #{attrId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attrValue != null">
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null">
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrSel != null">
        #{attrSel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aha.smallmall.pojo.GoodsAttrsExample" resultType="java.lang.Long">
    select count(*) from goods_attrs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods_attrs
    <set>
      <if test="record.attrId != null">
        attr_id = #{record.attrId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.attrValue != null">
        attr_value = #{record.attrValue,jdbcType=VARCHAR},
      </if>
      <if test="record.attrName != null">
        attr_name = #{record.attrName,jdbcType=VARCHAR},
      </if>
      <if test="record.attrSel != null">
        attr_sel = #{record.attrSel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods_attrs
    set attr_id = #{record.attrId,jdbcType=VARCHAR},
      goods_id = #{record.goodsId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      attr_value = #{record.attrValue,jdbcType=VARCHAR},
      attr_name = #{record.attrName,jdbcType=VARCHAR},
      attr_sel = #{record.attrSel,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aha.smallmall.pojo.GoodsAttrs">
    update goods_attrs
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attrValue != null">
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null">
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrSel != null">
        attr_sel = #{attrSel,jdbcType=VARCHAR},
      </if>
    </set>
    where attr_id = #{attrId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aha.smallmall.pojo.GoodsAttrs">
    update goods_attrs
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      attr_value = #{attrValue,jdbcType=VARCHAR},
      attr_name = #{attrName,jdbcType=VARCHAR},
      attr_sel = #{attrSel,jdbcType=VARCHAR}
    where attr_id = #{attrId,jdbcType=VARCHAR}
  </update>
</mapper>